// Font-familys
$main-font: 'ProximaNova';

// HelveticaNeueCyr
@font-face {
    font-family: $main-font;
    src: url('.././fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $main-font;
    src: url('.././fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $main-font;
    src: url('.././fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}